<div id="footer">
  <div class="footer-content">
  	<div class="row footer-follow">Jetzt zum<br><em>Newsletter</em><br>anmelden!<br><br><em>Follow us</em></div>
    <div class="row footer-menu">
    	<span class="footer-menu-text-big">+49 7032 2291 222 service@pakadoo.de</span>
    	<span class="footer-menu-text">SIE HABEN FRAGEN ODER MÖCHTEN SICH ÜBER PAKADOO WORK-LIFE LOGISTICS INFORMIEREN?<br>GERNE BEANTWORTEN WIR IHRE FRAGEN IN EINEM PERSÖNLICHEN GESPRÄCH.<br>WIR SIND MONTAGS BIS FREITAGS TÄGLICH VON 8 – 17 UHR FÜR SIE DA.</span>
    </div>  
    <div class="row footer-strapline"><p>pakadoo ist eine Innovation der LGI Logistics Group International GmbH <span class="heading-ending">///</span> <a href="http://www.lgi.de" target="_blank">lgi.de</a></p></div>  
    <div class="row footer-disclaimer"><ul class="footer-disclaimer-menu"><li class="first"><a href="www.pakadoo.de/agb/">AGB</a><span class="menu-separator">/</span></li><li><a href="www.pakadoo.de/datenschutz/">Datenschutz</a><span class="menu-separator">/</span></li><li class="last"><a href="www.pakadoo.de/impressum/">Impressum</a></li></ul><p>Copyright&nbsp;2015&nbsp;&copy; pakadoo<span class="slash">/</span>All Rights Reserved</p></div>  
  </div>
</div>